<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title><%= pageName %></title>

  <!-- Web Components Polyfill -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="bower_components/t-page/t-page.html">

  <%= textDependencies %>
</head>
<body unresolved>
  <%= textCode %>
</body>
</html>
