<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title><%= pageName %></title>

  <!-- Web Components Polyfill -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="bower_components/t-page/t-page.html">
  <%
    dependencies.forEach(function(name) {
    %><link rel="import" href="bower_components/<%= name %>/<%= name %>.html"><%
    });
  %>

</head>
<body unresolved>
  <%= builderStartTag %>
    <div class="flex">
      <%
        rows.forEach(function(row) {
          %><div class="horizontal flex layout grouped"><%
            row.forEach(function(column) {
              %><div class="flex fieldset"><%= column.html %></div><%
            });
          %></div><%
        });
      %>
    </div>
  <%= builderEndTag %>
</body>
</html>
