<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title><%= componentName %></title>

  <!-- Web Components Polyfill -->
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="../../t-shared-components/theme.html">
  <link rel="import" href="../<%= componentName %>.html">
</head>
<body unresolved>
  <<%= componentName %>></<%= componentName %>>
</body>
</html>
